
@{
    ViewBag.Title = "Vista Principal";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron text-center">
                <h1 class="display-4">Proyecto de equipo</h1>
                <hr class="my-4">
                <h3 class="mb-4">Desarrollo de ejercicios planteados</h3>
                <h4 class="mb-4">Integrantes del equipo:</h4>
                <ul class="list-unstyled">
                    <li>Mamani Ramos, Jhonatan Stveve (2019063316)</li>
                </ul>
            </div>
        </div>
    </div>
</div>